nav [class*="col-"]:last-of-type {
    text-align: right;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
    color: #33475b;
    line-height: 160%;
    vertical-align: middle;

}

/* Padding */
.results-banner *,
.text-container *,
.our-offer>*,
.results-list .col-3 * {
    padding: 10px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* /Padding */

/* Display */

.fullscreen-offer li,
.fullscreen-offer h4,
header nav li,
.languages li,
.social li,
.partner li,
.btn {
    display: inline-block;
}

.our-offer img,
.results-list *,
footer span {
    display: block;
}

/* /Display */

/* Text-align */

.offer-box,
.slogan,
.results,
.languages {
    text-align: center;
}

.our-offer li {
    text-align: left;
}

/* /Text-align */

.our-offer img,
.results img {
    margin: auto;
}

/* Common-text */

.caption {
    font-size: 80%;
}

.text-container {
    padding-top: 15%;
}

.btn {
    color: white;
    background-color: #fe775a;
    border-radius: 5px;
}

.log-btn {
    background-color: #fafcfe;
    color: #fe775a;
    border: 1px solid #fe775a;
}

footer .btn {
    background-color: #dadee0;
    color: #32495b;
}

nav .btn,
.links .btn {
    padding: 0 10px;
}

/* END COMMON */

/* HEADER */

header {
    /* margin-top: 80px; */
}

/* Navbar */

nav {
    padding: 20px 0;
}

.search {
    color: #00a4bd;
}

.dropdown::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 10px;
}

.top-nav {
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; */
}

.divided::after {
    content: '';
    padding-right: 10px;
    border-right: 1px solid #32495b;
}

/* END Navbar */

/* Jumbotron */

.jumbotron {
    position: relative;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 600px;
}

.jumbotron::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
    height: 77px;
}

h1 {
    font-size: 280%;
    font-weight: 900;
    line-height: 120%;
}

/* END Jumbotron */

/* END HEADER */

/* MAIN */

/* SECTION our-offer */

.our-offer {
    background-color: #f4f9fd;
}

.slogan img {
    height: 180px;
}

/* our-offer>offer-detail */

.our-offer li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-weight: bolder;
    color: #fe775a;
    margin-right: 4px;
}

.offer-box {
    box-shadow: 0 0 11px #eaf0f6;
    border-radius: 7px;
    background-color: white;
    padding: 30px;
}

/* .offer-list .col-4:nth-of-type(1) .offer-box {
    margin-right: 5%;
}

.offer-list .col-4:nth-of-type(2) .offer-box {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.offer-list .col-4:nth-of-type(3) .offer-box {
    margin-left: 5%;
} */

.offer-list .col-4 {
    padding: 0 calc(100% / (12 * 2));
}

.our-offer h4 {
    text-transform: uppercase;
}

.offer-list .fake-hr::before,
.fullscreen-offer .fake-hr::after {
    content: "";
    width: 90%;
    margin: auto;
    border-bottom: 1px solid red;
}

.offer-list .offer-box .fake-hr::before {
    display: block;
}

.fullscreen-offer .fake-hr::after {
    display: inline-block;
}

.offer-box img {
    height: 130px;
}

/* /our-offer>offer-detail */

/* results */

.results {
    background-image: linear-gradient(to right, #00a9ba, #00bba8);
    color: white;
}

.results-list:last-of-type .container .container {
    border-top: 1px solid white;
}

.results-list .col-3:nth-child(1n+2) {
    border-left: 1px solid white;
}

.results img {
    height: 50px;
}

.big-num {
    font-size: 250%;
    font-weight: 700;
}

.results .big-num::after {
    content: " +";
    font-size: 60%;
}

/* /results */

/* partners */


.partner li {
    width: 23%;
    margin-right: 1%;
}

.partner img {
    width: 100%;
    vertical-align: middle;
}

/* /partners */

/* final-spot */

.final-spot img {
    width: 90%;
    vertical-align: baseline;
}

/* end results */

/* END MAIN */

/* FOOTER */

footer {
    background-color: #32495b;
    color: #cbd6e2;
}

h5 {
    font-size: 130%;
    color: white;
}

.languages {
    border-bottom: 1px solid white;
}

.languages li,
.social li {
    padding-right: 25px;
}

/* END FOOTER */